@use "sass:math";
@use "sass:color" as colorHelpers;
@use 'sass:meta';
@use 'mixins' as *;
@forward 'game';
@forward 'mixins';



html {
  font-size: calc(112.5% + 0.5vw);
  font-weight: normal;
  font-family: monospace;
}

:root {
  --bg-color: #64b0ef;
  --bg-color2: #92c7f3;
  --bg-color3: #76bef9;
  --bg-color4: #98cdff;
  --font-color: #183875;
  --font-color2: #060425;
  --no-of-tiles: 4;
  --choice-square-size: 22px;
  --choice-square-margin: 1px;
  --choice-margin: 50px;

  --game-spacing: 10px;
  --game-container-padding: 2px;
  --game-tile-fs: 25px;
  --tile-size: 80px;
  --game-btn-icon-size: 25px;
  --gap: 30px;
  --gap-factor: 2;

  @include thinner-than(550px) {
    --game-spacing: 5px;
    --game-tile-fs: 25px;
    --tile-size: 80px;
    --gap: 20px;
    --choice-margin: 30px;
  }
  @include thinner-than(450px) {
    --game-tile-fs: 22px;
    --tile-size: 70px;
    --game-btn-icon-size: 20px;
    --choice-margin: 20px;
  }
  @include thinner-than(365px) {
    --game-tile-fs: 20px;
    --tile-size: 60px;
    --choice-square-size: 18px;
    --choice-margin: 10px;
  }
  @include thinner-than(310px) {
    --choice-square-size: 15px;
    --choice-margin: 5px;
  }
  @include thinner-than(290px) {
    --game-tile-fs: 15px;
    --tile-size: 50px;
    --choice-square-size: 15px;
    --choice-margin: 5px;
  }

  @include taller-than(1000px) {
    --gap-factor: 4;
  }
  @include shorter-than(600px) {
    --gap-factor: 1;
  }
}



body {
  background-color: var(--bg-color);
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color) var(--bg-color2);
  &::-webkit-scrollbar {
    width: 5px;
    -webkit-overflow-scrolling: auto !important;
  }
  &::-webkit-scrollbar-track {
    background: var(--bg-color2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
    border-radius: 6px;
    border: 0 solid var(--bg-color2);
  }
}

button {
  font-family: monospace;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  height: calc(100vh - 16px);
  &:has(.expanded) {
    height: auto;
  }
  &:has(.game-view-container) .social-link {
    @include shorter-than(535px) {
      display: none;
    }
  }
  &:has(.choice-container) .social-link {
    @include shorter-than(500px) {
      display: none;
    }
    @include thinner-than(510px) {
      display: none;
    }
  }
  @include shorter-than(540px) {
    padding: var(--gap) 0;
    height: auto;
  }
}
.app-container:has(.--3),
.app-container .choice-squares-container.--3 {
  --no-of-tiles: 3;
}
.app-container:has(.--4),
.app-container .choice-squares-container.--4 {
  --no-of-tiles: 4;
}




/* app welcome title text */
.title-text {
  font-size: 1.5em;
  text-align: center;
  color: var(--font-color2);
  text-shadow: 5px 5px var(--bg-color2);
  margin-top: var(--gap);
}

/* app details text styles */
.details-container {
  height: min-content;
  width: 80vw;
  background-color: var(--bg-color2);
  opacity: 0.8;
  border-radius: 15px;
  border-color: transparent;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @include thinner-than(992px) {
    padding: 5px;
    box-shadow: 0 0 0;
  }
}

.details-text {
  font-size: 0.75em;
  margin: 0;
  transition: all ease 0.5s;
  max-height: 300px;
  height: max-content;
  overflow: hidden;
  @include thinner-than(992px) {
    visibility: hidden;
    height: 0;
    padding: 0;
    &.active {
      visibility: visible;
      height: auto;
      padding: 15px;
      overflow: auto;
    }
  }
}

.details-toggler {
  display: none;
  background-color: var(--bg-color);
  border: 1px solid #245075;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  @include thinner-than(992px) {
    display: flex;
  }
}
.details-toggler-title {
  color: var(--font-color2);
  font-size: 0.8em;
  text-align: center;
  margin: 0 10px 0 10px;
}
.details-toggler-icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
  transition: all ease 0.8s;
}

.details-toggler-icon.expanded {
  transform: rotate(180deg);
}

/* type choosing styles */
.choice-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
}
.choice {
  height: calc(var(--choice-square-size) * 9);
  width: calc(var(--choice-square-size) * 4 + var(--choice-square-margin) * 3 + 50px);
  margin: 0 var(--choice-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  &:focus, &:active, &:visited {
    text-decoration: none;
    color: var(--font-color2);
  }
  &:hover {
    background-color: var(--bg-color3);
  }

  &.--3 {
    margin-left: 0;
  }
  &.--4 {
    margin-right: 0;
  }
  @include thinner-than(280px) {
    padding: 3px;
  }
}
.choice-squares-container {
  display: grid;
  border-color: transparent;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &.--3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: calc(var(--choice-square-size) * 0.5 + var(--choice-square-size));
  }
  &.--4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: calc(var(--choice-square-size));
  }
}

.choice-square {
  width: var(--choice-square-size);
  height: var(--choice-square-size);
  margin: var(--choice-square-margin);
  background-color: white;
  &:hover {
    background-color: #081d45;
  }
}
.choice-title {
  margin-top: auto;
  margin-bottom: var(--choice-square-size);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: var(--font-color2);
  &:hover, &:focus, &:active, &:link {
    text-decoration: none;
    color: unset;
  }
  @include thinner-than(365px) {
    font-size: 15px;
  }
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.footer, footer {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.social-link {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0;
}