.game {
  border-style: solid;
  border-color: rgb(171, 189, 223);
  background-color: rgb(171, 189, 223);
  display: grid;
  grid-gap: 0.1vw;
}
.game.threebythree {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 30vw;
  height: 30vw;
}
.game.fourbyfour {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 30vw;
  height: 30vw;
}

.tile {
  border-style: ridge;
  border-color: rgb(171, 189, 223);
  background-color: rgb(142, 174, 233);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #081d45;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em ;
}

.zeroTile {
  background-color: rgb(171, 189, 223);
  border-style: none;
  cursor: default;
}

.gameBtns-container {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text {
  color: rgb(142, 174, 233);
  margin: 0;
}

#resetBtn {
  width: 45%;
  height: 5vw;
  border-radius: 5px;
  border-color: transparent;
  margin: 25px 0px;
  text-align: center;
  font-size: 1vw;
  color: rgb(142, 174, 233);
  background-color: #081d45;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
  transition: font-size ease-out 1s;
}

#resetBtn:link {
  text-decoration: none;
}
#resetBtn:visited {
  text-decoration: none;
}
#resetBtn:hover {
  text-decoration: none;
  box-shadow: 0 0 0;
  border-color: transparent;
  color: rgb(142, 174, 233);
  font-weight: bold;
  font-size: 2vw;
  background-color: #05132e;
}
#resetBtn:active {
  text-decoration: none;
  box-shadow: 0 0 0;
  border-color: transparent;
  color: rgb(142, 174, 233);
  font-weight: bold;
  font-size: 2vw;
  background-color: #05132e;
}

#backBtn {
  width: 45%;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-color: transparent;
  margin: 25px 0px;
  text-align: center;
  font-size: 1vw;
  color: rgb(142, 174, 233);
  background-color: rgb(110, 4, 4);
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
  transition: font-size ease-out 1s;
}

#backBtn:hover {
  text-decoration: none;
  box-shadow: 0 0 0;
  font-weight: bold;
  font-size: 2vw;
  background-color: rgb(59, 2, 2);
}
#backBtn:active {
  text-decoration: none;
  box-shadow: 0 0 0;
  font-weight: bold;
  font-size: 2vw;
  background-color: rgb(59, 2, 2);
}

@media (max-width: 991px) {
  /* start of large tablet styles */
  .game.threebythree {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 40vw;
    height: 40vw;
  }
  .game.fourbyfour {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 40vw;
    height: 40vw;
  }
  .tile {
    font-size: 5vw ;
  }
  .gameBtns-container {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #backBtn {
    font-size: 2vw;
  }
  #backBtn:hover {
    font-size: 3vw;
  }
  #backBtn:active {
    font-size: 3vw;
  }
  #resetBtn {
    font-size: 2vw;
  }
  #resetBtn:hover {
    font-size: 3vw;
  }
  #resetBtn:active {
    font-size: 3vw;
  }
}


