.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 15px;
  border-color: darkgray;
  height: 70%;
  width: 70%;
  background-color: black;
}

.result-container > h1 {
  color: darkgreen;
  font-family: "Courier New", Courier, monospace;
}

.result-container > h2 {
  margin-top: 20px;
}

.resultBtns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resultBtn {
  color: darkgray;
  font-size: xx-large;
  margin: 50px;
  padding: 50px;
  background-color: black;
  border-style: solid;
  border-color: darkgray;
  border-radius: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.resultBtn:link {
  text-decoration: none;
}

.resultBtn:hover {
  text-decoration: none;
  color: darkgreen;
  border-color: darkgreen;
  font-weight: bold;
}
