#backBtn {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-color: transparent;
  text-align: center;
  color: rgb(142, 174, 233);
  background-color: rgb(110, 4, 4);
}
#backBtn:hover {
  text-decoration: none;
  box-shadow: 0 0 0;
  background-color: rgb(59, 2, 2);
}
#backBtn:focus {
  outline: none;
  box-shadow: none;
}
