/* number of moves styles */
.numMoves {
  width: 100%;
  border: dashed;
  border-color: #081d45;
  padding: 10px;
  text-align: center;
}
.numMoves p {
  color: #081d45;
  font-family: monospace;
  margin: 0;
}
