.reset-btn {
    cursor: pointer;
    color: rgb(142, 174, 233);
    background-color: #081d45;
}
.reset-btn:active {
    text-decoration: none;
}
.reset-btn:link {
    text-decoration: none;
}
.reset-btn:visited {
    text-decoration: none;
}
.reset-btn:hover {
    text-decoration: none;
    color: rgb(142, 174, 233);
    background-color: #05132e;
}
.reset-btn:focus {
    outline: none;
    box-shadow: none;
}