/* main app screen styles */
.App {
  display: flex;
  flex-direction: column;
}

/* footer with credits styles */
footer {
  width: 100%;
  margin-top: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
hr.footerLine {
  width: 100%;
  border-top: 1.5px solid rgb(142, 174, 233);
}
p.creditsText {
  font-size: 0.75em;
  text-align: center;
  color: #212529;
  margin-bottom: 5px;
}
a.visitRepoLink:link {
  color: #212529;
  background-color: transparent;
  text-decoration: none;
}
a.visitRepoLink:visited {
  color: #212529;
  background-color: transparent;
  text-decoration: none;
}
a.visitRepoLink:hover {
  color: rgb(142, 174, 233);
  background-color: transparent;
  text-decoration: none;
}
a.visitRepoLink:active {
  color: rgb(142, 174, 233);
  background-color: transparent;
  text-decoration: none;
}
.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.socialLinks a {
  margin: 0 10px 0 10px;
}
